<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= pageTitle %>
    </title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body class="page">
    <header class="site-header">
        <nav class="site-nav">
            <a class="nav-link" href="/books">Books</a>
            <a class="nav-link" href="/admin/add-book">Add Book</a>
        </nav>
    </header>
    <main class="page-content error-page">
        <h1>
            <%= pageTitle %>
        </h1>
    </main>
</body>

</html>
